@using JuCheap.Infrastructure.Extentions
@model JuCheap.Models.ProductDto
@{
    ViewBag.Title = "添加产品";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加产品</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm("Add", "ProductList", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品类别</label>
                    <div class="col-sm-8">
                        <select id="GetProType" class="form-control m-b" name="account">
                           
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProMonery)：</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ProMonery, new { @class = "form-control", placeholder = "描述" })
                        @Html.ValidationMessageFor(m => m.ProMonery)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ProName)：</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ProName, new { @class = "form-control", placeholder = "名称" })
                        @Html.ValidationMessageFor(m => m.ProName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ImageURL)：</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ImageURL, new { @class = "form-control", placeholder = "图片" })
                        @Html.ValidationMessageFor(m => m.ImageURL)
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.Procontent)：</label>
                        <div class="col-sm-8">

                            <script id="editor" type="text/plain">
                            </script>

                            @Html.ValidationMessageFor(m => m.Procontent)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button class="btn btn-info" type="submit" id="btnSave">保存</button>
                            <button class="btn btn-white" type="button" id="btnBack" data-type="url">返回</button>
                        </div>
                    </div>
                    }
                </div>

    </div>





@section styles
{
    <link href="~/Content/js/select2/css/select2.min.css" rel="stylesheet" />
}
@*@section scripts{
        @Scripts.Render("~/content/js/ueeditor")
    }*@
<script src="~/Content/js/ueeditor/ueditor.config.js"></script>
<script src="~/Content/js/ueeditor/ueditor.all.min.js"></script>
<script src="~/Content/js/ueeditor/ang/zh-cn/zh-cn.js"></script>


<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
   

</script>
@section scripts
{
    @Scripts.Render("~/content/js/list")
    <script>

        $.ajax({
            type: "POST",
            url: "/Product/GetProductType", //此次url改为真正需要的url
            success: function (data) {
             
                for (x in data) {
                    $("#GetProType").append(  //此处向select中循环绑定数据
                        "<option value=" + data[x].Id + ">" + data[x].ProTypeTitle + "</option>");
                }
            },
            error: function () {
         
            }
        });
  
        //$("#GetProType").append(  //此处向select中循环绑定数据
        //    "<option value=" + '2' + ">" + '2' + "</option>");

    </script>
    }